* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto-regular;
    src: url("../font/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto-Italic;
    src: url("../font/Roboto-Italic.ttf");
}
@font-face {
    font-family: Roboto-Bold;
    src: url("../font/Roboto-Bold.ttf");
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
}
        /* Header */

header {
    position: fixed;
    top: 0px;
    width: 100%;
    max-width: 1024px;
    min-width: 375px;
    height: 100px;
    background-color: dimgray;
    display: flex;
    align-content: center;
}
nav {
    position: relative;
    width: 90%;
    margin: auto;
    display: flex;
}
.logo-container {
    display: flex;
    margin: auto;
}
.logo-container img {
    width: 80px;
    height: 80px;
}
.nav-main {
    margin: auto;
}
.nav-main ul {
    justify-content: center;
    list-style: none;
    text-align: center;
}
.nav-main ul li {
    width: 80px;
    padding: 3px;
    text-align: center;    
}
.nav-main ul li a{
    color: white;
    font-family: Roboto-Bold;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-main ul li:hover {
    border: 1px solid white;
    background-color: thistle;
    transition: 1s ease;
}
.active {
    border: 1px solid white;
}
.burger-container {
    width: 80px;
    display: flex;
    align-items: center;
    margin: auto;
}
.burger {
    margin: auto;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: tomato;
    margin: 5px;
    transition: all 0.3s ease;
}
        /* .nav-prof are hiidden in cellphones and tablet. Activated upon pressing .burger */

.nav-links {    
    position: absolute;
    right: 0px;
    top: 100px;
    z-index: +1;
    width: 50%;
    height: calc(100vh - 100px);
    background-color: dimgray;
    display: flex;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.5s ease-in;
}
.nav-links ul {    
    list-style: none;    
    text-align: center;
    display: flex;
    flex-direction: column;
}
.nav-links ul li {
    width: 160px;    
    margin: auto;
    padding: 20px 0px;
    opacity: 0;
}
.nav-links ul li a {
    font-family: Roboto-Italic;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.nav-links ul li:hover {
    border: 2px solid white;
    background-color: thistle;
    transition: 1s ease;
}

        /* To dissable overflow. App-like experience. */

body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

        /* Nav-links and burger animation in cellphones using JS */

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
.nav-active {
    transform: translateX(0%);
}
.toggle #line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle #line2 {
    opacity: 0;
}
.toggle #line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


        /* Website content */

        /* Jeneral styling */

.grid {
    position: absolute;
    width: 100%;
    max-width: 1024px;
    min-width: 375px;
    z-index: -1;
    top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

        /* There are 4 sections with vh-width calculated inside grid */

.content-container {
    position: relative;
    height: calc((100vh - 100px) / 3);
    width: 100%;
    padding: 5px;
    display: flex;
}
.backgr-img {
    position: relative;    
    width: 100%;
    height: 100%;
}
.content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px;
    display: flex;
}
.talking {
    position: relative;
    width: auto;
    margin: auto;
    padding: 0px 6px;
    font-family: Roboto-Bold;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px black, 1px -1px black, -1px -1px black, -1px 1px black;
}
.p-on-top {
    position: absolute;
}
.p-on-bottom {
    position: absolute;
    bottom: 10px;
}
.persone {
    position: relative;
    height: 100%;
    padding: 6px 0px;
    margin: auto;
}
.center-line {
    position: relative;
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: Roboto-Bold;
    font-size: 22px;
    color: white;
    text-shadow: 1px 1px black, 1px -1px black, -1px -1px black, -1px 1px black;
}

        /* Specific styling */
        /* 4 sections of Home */

#dark-peop-img {
    position: relative;
    display: flex;
    max-height: 100%;
    width: auto;
    margin: auto;
}
#dark-peop-bachgrd-gradient {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-image: linear-gradient(to bottom, lightgray, dimgray, lightgray);
}
#market-bachgrd-gradient {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-image: linear-gradient(to bottom, lightgray, lightblue, lightgray);
}
#employee-bachgrd-gradient {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-image: linear-gradient(to bottom, lightgray, rgb(252, 227, 182), lightgray);
}

            /* Medical don't hase specific styling */

           /* 4sections of police */

#badge-stuck {
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
}
#car-1 {    
    width: 70%;
    height: auto;
    margin: auto;
}
#car-2 {
    width: 70%;
    height: auto;
    margin: auto;
}
#pol-dog {
    width: 35%;
    height: auto;
    margin: auto;
}
#car-3 {
    width: 60%;
    height: auto;
    margin: auto;
}

            /* Sections of firefighters */

.fighter-logo {
    width: 50%;
    height: auto;
    margin: auto;
}

            /* different media styling */

@media only screen and (min-width: 720px) and (max-width: 1024px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        
    }
    
}

@media only screen and (min-width: 1025px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .container {
        width: 1025px;
    }
    .burger-container {
        display: none;
    }
    .nav-links {
        position: relative;
        right: unset;
        top: unset;
        width: 600px;
        height: unset;
        transform: translateX(0%);
        z-index: unset;
        /* float: right; */
        display: flex;    
    }
    .nav-links ul {
        display: flex;
        flex-flow: row wrap;
        
    }
    .nav-links ul li {
        width: 140px;
        padding: 5px;
        opacity: 1;
    }
    .content-container {
        height: 200px;
    }
    .persone {
        height: 100%;
    }
}