* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto-regular;
    src: url("../font/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto-Italic;
    src: url("../font/Roboto-Italic.ttf");
}
@font-face {
    font-family: Roboto-Bold;
    src: url("../font/Roboto-Bold.ttf");
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}
        /* Header */

header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: dimgray;
    display: flex;
    align-content: center;
}
nav {
    width: 90%;
    margin: auto;
    display: flex;
}
.logo-container {
    display: flex;
    margin: auto;
}
.logo-container img {
    width: 80px;
    height: 80px;
}
.nav-main {
    margin: auto;
}
.nav-main ul {
    justify-content: center;
    list-style: none;
    text-align: center;
}
.nav-main ul li {
    width: 80px;
    padding: 3px;
    text-align: center;    
}
.nav-main ul li a{
    color: white;
    font-family: Roboto-Bold;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-main ul li:hover {
    border: 1px solid white;
    background-color: thistle;
    transition: 1s ease;
}
.active {
    border: 1px solid white;
}
.burger-container {
    width: 80px;
    display: flex;
    align-items: center;
    margin: auto;
}
.burger {
    margin: auto;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: tomato;
    margin: 5px;
    transition: all 0.3s ease;
}
        /* .nav-prof are hiidden in cellphones and tablet. Activated upon pressing .burger */

.nav-links {    
    position: absolute;
    right: 0px;
    top: 100px;
    z-index: +1;
    width: 50%;
    height: calc(100vh - 100px);
    background-color: dimgray;
    display: flex;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.5s ease-in;
}
.nav-links ul {    
    list-style: none;    
    text-align: center;
    display: flex;
    flex-direction: column;
}
.nav-links ul li {
    width: 160px;    
    margin: auto;
    padding: 20px 0px;
    opacity: 0;
}
.nav-links ul li a {
    font-family: Roboto-Italic;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.nav-links ul li:hover {
    border: 2px solid white;
    background-color: thistle;
    transition: 1s ease;
}

        /* To dissable overflow. App-like experience. */

body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

        /* Nav-links and burger animation in cellphones using JS */

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
.nav-active {
    transform: translateX(0%);
}
.toggle #line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle #line2 {
    opacity: 0;
}
.toggle #line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


        /* Website content */

        /* Jeneral styling */

.grid {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 100px;
    display: grid;
    grid-row: 1fr;
}

        /* There are 4 sections with vh-width calculated inside grid */

.content-container {
    position: relative;
    height: calc((100vh - 105px) / 3);
    width: 100%;
    padding: 5px 5px 0 5px;
    display: flex;
}
.backgr-img {
    position: relative;    
    width: 100%;
    height: 100%;
}
.content {
    position: absolute;
    height: calc((100vh - 120px) / 3);
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px;
    display: flex;
}
.talking {
    position: relative;
    width: auto;
    margin: auto;
    padding: 0px 6px;
    font-family: Roboto-Bold;
    font-size: 22px;
    color: white;
    text-shadow: 1px 1px black, 1px -1px black, -1px -1px black, -1px 1px black;
}
.persone {
    position: relative;
    height: 100%;
    padding: 6px 0px;
    margin: auto;
}
.center-line {
    position: relative;
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: Roboto-Bold;
    font-size: 22px;
    color: white;
    text-shadow: 1px 1px black, 1px -1px black, -1px -1px black, -1px 1px black;
}

        /* Specific styling */
        /* 4 sections of Home */

#dark-peop-img {
    position: relative;
    display: flex;
    max-height: 100%;
    width: auto;
    margin: auto;
}
#dark-peop-bachgrd-gradient {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-image: linear-gradient(to bottom, lightgray, dimgray, lightgray);
}
.p-on-top {
    position: absolute;
}
#market-bachgrd-gradient {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-image: linear-gradient(to bottom, lightgray, lightblue, lightgray);
}
#employee-bachgrd-gradient {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-image: linear-gradient(to bottom, lightgray, rgb(252, 227, 182), lightgray);
}


        /* 4 sections of Medical */

#hospital-1 {
    background-image: url("../img/5-scene-hospital-building.jpeg");
    color: white;
    text-shadow: 0px 0px 4px black;
}
#hospital-2 {
    background-image: url("../img/5-scene-hospital-patient-doctor-2.jpeg");
    color: black;
    text-shadow: 0px 0px 4px white;
}
#hospital-2 p {
    position: absolute;
    width: 100%;
    padding: 10px 10px;
}
#hospital-3 {
    background-image: url("../img/5-scene-hospital-patient-doctor.jpeg");
    color: black;
    text-shadow: 0px 0px 4px white;
}
#hospital-3 p {
    position: absolute;
    width: 100%;
    padding: 10px 10px;
}
#hospital-4 {
    background-image: url("../img/5-scene-hospital-patient-doctor-3.jpeg");
    color: black;
    text-shadow: 0px 0px 4px white;
}
#hospital-4 p {
    position: absolute;
    width: 100%;
    padding: 10px 10px;
}
#hospital-5 {
    background-image: url("../img/5-scene-hospital-reception.jpeg");
    color: black;
    text-shadow: 0px 0px 4px white;
}
#hospital-6 {
    background-image: url("../img/5-scene-hospital-office-2.jpeg");
    color: black;
    text-shadow: 0px 0px 4px white;
}
#hospital-7 {
    background-image: url("../img/5-scene-hospital-office.jpeg");
    color: black;
    text-shadow: 0px 0px 4px white;
}
#hospital-8 {
    background-image: url("../img/5-scene-hospital-patient.jpeg");
    color: white;
    text-shadow: 0px 0px 4px black;
}
#hospital-9 {
    background-image: url("../img/5-scene-dental-office.jpeg");
    color: white;
    text-shadow: 0px 0px 4px black;
}
#hospital-10 {
    background-image: url("../img/5-scene-hospital-surgery-room.jpeg");
    color: white;
    text-shadow: 0px 0px 4px black;
}
#hospital-11 {
    background-image: url("../img/5-scene-hospital-room-2.jpeg");
    color: white;
    text-shadow: 0px 0px 4px black;
}
#hospital-12 {
    background-image: url("../img/5-scene-hospital-room.jpeg");
    color: black;
    text-shadow: 0px 0px 4px white;
}
#patient {
    width: 230px;
    height: 180px;
    margin-right: 20px;
}
#hospital-12 p {
    width: 70%;
    position: absolute;
    right: 5px;
}


           /* 4sections of police */

#police-1 {
    background-image: url("../img/7-scene-police-station.jpeg");
    color: white;
    text-shadow: 0px 0px 4px black;
}
#police-2 {
    background-color: lightblue;
    color: white;
    text-shadow: 0px 0px 4px black;
}
#badg {
    align-self: center;    
    width: 270px;
    height: 160px;
}
#police-2 p {
    position: absolute;
    width: 70%;
    right: 20px;
}
#police-3 {
    background-image: url("../img/7-scene-police-station-1.jpeg");
    color: white;
    text-shadow: 0px 0px 4px black;
}
#police-4 {
    background-image: url("../img/7-scene-police-station-2.jpeg");
    color: black;
    text-shadow: 0px 0px 4px white;
}
#police-5 {
    background-image: url("../img/7-scene-police-station-4.jpeg");
    color: white;
    text-shadow: 0px 0px 4px black;
}
#police-6 {
    background-image: url("../img/7-scene-police-station-3.jpeg");
    color: white;
    text-shadow: 0px 0px 4px black;
}
#police-7 {
    background-image: url("../img/7-scene-street-2.jpeg");
    color: black;
    text-shadow: 0px 0px 4px white;

}
#police-8 {
    background-image: url("../img/7-scene-street-4.jpeg");
    color: white;
    text-shadow: 0px 0px 4px black;
}
#pol-car {
    width: 180px;
    height: 130px;
    margin-left: 20px;
    align-self: center;
}
#police-8 p {
    position: absolute;
    margin-left: 10px;
}
#police-9 {
    background-image: url("../img/7-scene-street-3.jpeg");
    color: black;
    text-shadow: 0px 0px 4px white;
}
#pol-car2 {
    width: 280px;
    height: 130px;
    margin-top: 30px;
}
#police-9 p {
    position: absolute;
}
#police-10 {
    background-image: url("../img/7-scene-street.jpeg");
    color: white;
    text-shadow: 0px 0px 4px black;
}
#police-11 {
    background-image: url("../img/7-scene-street-5.jpeg");
    color: white;
    text-shadow: 0px 0px 4px black;
}
#police-11 p {
    position: absolute;
    margin-left: 10px;
}
#dog {
    margin: auto;
    width: 80px;
    height: 90px;
}
#truck {
    margin: auto;
    width: 240px;
    height: 120px;
}
#police-12 {
    background-image: url("../img/7-sceene-high.jpeg");
    color: white;
    text-shadow: 0px 0px 4px black;
}
#police-12 p {
    position: absolute;
    width: 100%;
}